body{
    font-family:Arial;
    background-color:blanchedalmond;
    color:brown;
    font-size:large;
    text-align:center;
}
#welcomeHeader{
color:rgb(0, 0, 0);
}
.luh{
    color:rgb(0, 0, 0)
    
}
#pfp{
    width:200px;
    height:auto;
    border-top-right-radius:50%;
    border-top-left-radius:50%;
}
ul{
   text-align:center;
   list-style-position:inside;
   
}
footer{
    background-color:bisque;
}
.hobbies{
   margin: 50px;
}
